body{
    background-color: brown;
}

#theme_button{
    position: relative;
    top: 6px;
    height: 6vh;
    max-height: 30px;
    min-height: 25px;
    width: 5vw;
    max-width: 65px;
    min-width: 55px;
    background-color: rgb(0, 0, 0);
    border-radius: 35px;
}
.theme{
    position: absolute;
    left: -2px;
    top: 0.2px;
    height:99% ;
    width: 52% ;
   z-index: 2;
}
#dark{
    top: 0.1px;
    z-index: 0;
    height:100% ;
}


