* {
  margin: 0;
  overflow-x: hidden;
}
#all {
  background-color: #527799;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  align-items: center;
  margin-left: 10vw;
}

.txt1 {
  text-align: center;
  margin-top: 3vw;
  font-weight: bold;
  color: #fff;
}

.txt2 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 8vh;
}

.txt3 {
  color: #fff;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

#avatar {
  height: 12vh;
  width: auto;
  float: left;
  margin-top: 3vh;
}

#bio {
  float: left;
  height: 10vh;
  width: 20vw;
  margin-bottom: 3.5vh;
}

#sec2 {
  display: flex;
}

.sec2-1 {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin-right: 5vw;
  width: 30vw;
}

.sec2-2 {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

#return-home {
  background-color: #7ca8cd;
  border-radius: 50px;
  height: 8vh;
  width: 20vw;
  text-align: center;
  outline: none;
  border: none;
}

#txt4 {
  text-align: center;
  margin-top: 2vh;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

#next {
  background-color: #7ca8cd;
  border-radius: 50px;
  height: 8vh;
  width: 20vw;
  text-align: center;
  outline: none;
  border: none;
  float: right;
  margin-top: 10vh;
}

#sm-container {
  margin-bottom: 7.5vh;
  margin-top: 8vh;
}
